<!DOCTYPE html>
<html>
<head>
  <title>Pickmeup</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Semantic UI CSS -->
  <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">

  <!-- Semantic UI JS -->
	<script src="semantic/dist/semantic.min.js"></script>

</head>
<body>

<%= yield %>

</body>
</html>
